# Database
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/impact_pharma?schema=public"

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Bunny CDN Storage
BUNNY_CDN_URL="https://your-zone.b-cdn.net"
BUNNY_STORAGE_ZONE="your-storage-zone"
BUNNY_STORAGE_HOSTNAME="storage.bunnycdn.com"
BUNNY_STORAGE_PASSWORD="your-storage-password"
BUNNY_STORAGE_PASSWORD_READONLY="your-readonly-password"
BUNNY_FTP_PORT="21"
